.column-layout {

max-width: 1500px;
background-color: #000000;
margin: 40px auto 0 auto;
line-height: 1.65;
display: flex;
padding: 20px 50px}

body {
background-color: #454647
	}

p {
	color: #ffffff;

}
ol{color: #ffffff}


h1 {text-align: center;
	font-size: 140px;
	color: white; }

h2 { color: white; 
	text-align: center;
	font-size: 70px;}

h3 {text-align: center;
font-size: 40px;}

h4 { color: white; 
	text-align: center;
	font-size: 55px;}	


.main-column{ flex: 3;
order: 1 ;}


.call-outs-container {
	max-width: 1500px;
	max-height: 2501px;
	margin: 40px auto 0 auto;
	 } 


.call-out {
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
	flex-basis: 40%;
}

@media (min-width: 1100px) {

.call-outs-container{
	display: flex; 
	justify-content: space-between; }
}
 
.call-out:nth-child(1)
{background-color: #1ad1ff;}
.call-out:nth-child(2)
{background-color: #ff0000;}

.banner{
	height: 501px;
	max-width: 700px;
	margin: 40px auto 40px auto;
background-image: url("https://lh3.googleusercontent.com/lRtEBDnAz2Bj5rlHyuWyKjINR3MI_nD9O45S5VO9feWLnvRoA5Te-afVMrIIVI3jltUBT-_cD4ZD6sOWxLkgXs6YEL-XM09Y=w1920-h1080-rw-no"); 
background-size: cover;
display: flex;

}

.center-me{
	color: white;
	font-size: 50px;
	margin: auto;
}


//https://www.haagshistorischmuseum.nl/files/2015-03/hga004018739.jpg//